*{
    margin: 0px auto;
    padding: auto;

  }
body{
    background-image: url(file:///C:/Users/SULTAN/Desktop/INF-231%20Final%20project/img/login.jpg);
}
.d-flex{
    position: relative;
    bottom: -9px;
}  

 .blackbox{
    background-color: rgba(0, 0, 0, 0.692);
    color: rgba(0, 0, 0, 0.774);
    width: 500px;
    height: 450px;
    position: relative;
    top: 62px;
    right: 2px;
    border-radius: 50px;
}
 .login{
     color: rgb(255, 255, 255);
     position: relative;
     position: relative;
     top: 42px;
     left: 49px;
     font-size: 30px;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
 .blackbox div{
    position: relative;
    top: 51px;
    left: 51px;
    filter: brightness(100%);
}
.blackbox input {
    position: relative;
    width: 346px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.486);
}
.blackbox label{
    color: rgb(0, 0, 0);
    font-size: 15px;
}
.btn1{
    height: 40px;
    width: 180px;
    position: relative;
    top: 150px;
    left: 100px;
    border-radius: 7px;
    color: white;
    background-color: blue;
}

@media (max-width: 700px){
    .blackbox{
        top: 43px;
        width: 350px;
        height: 400px;
    }

    .blackbox input{
        width: 250px;
        height: 30px;
    }

    .blackbox label{
        color: rgb(0, 0, 0);
        font-size: 10px;
    }

}
.blackbox p{
    position: relative;
    top: 4px;
    left: 50px;
}
::placeholder{
    color: black;
    font-weight: bold;
}
.openRegisterPage a{
    text-decoration: none;
    color: white;
}
/* .openRegisterPage a:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);

} */